.my-center-div {
    margin: 5% auto;
    width: 400px;
}

.chosen-user-button {
    margin: 10px 20px 10px 20px;
}

.go-next-container {
    margin-top: 10px;
}

.info-container {
    margin-bottom: 10px;
}

.larger-font {
    font-size: larger;
}