.my-panel {
    margin-top: 1%;
}

.mat-divider {
    width: 100%;
}

.info-container {
    margin-bottom: 10px;
}

.panel-description {
    margin-right: 10px;
}

.container {
    width: 500px;
}

.proposed-date {
    margin-top: 1%;
}